body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  height: auto;
}

a, p, label, code, h1, h2, h3, h4, h5, h6 {
  line-height: 1.45em;
  letter-spacing: 0.0625em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212b35;
  font-weight: 900;
  text-align: center;
}

p {
  color: #212b35;
}

a {
  font-weight: 400;
}

label {
  font-weight: 300;
  font-size: 0.8em;
}

a:link {
  text-decoration: none;
  color: #F30E5C;
  transition: all 0.4s ease;
}

a:visited {
  text-decoration: none;
  color: #F30E5C;
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
  color: rgba(243, 14, 90, 0.50);
  transition: all 0.4s ease;
}

a:active {
  text-decoration: none;
  color: #F30E5C;
  transition: all 0.4s ease
}

button {
  padding: 5px 15px;
  min-width: 100px;
  background-color: #212b35;
  color: #e1e1e1;
  border-radius: 5px;
  font-size: 0.9em;
  border: 1px solid #212b35;
  box-shadow: 0px 1px 2px #212b35;
  font-weight: 400;
  letter-spacing: 0.0625em;
  transition: all 0.4s ease;
}

button:hover {
  box-shadow: 0px 4px 10px #212b35;
  transition: all 0.4s ease;
}

button.btn-delete {
  background-color: rgb(220, 20, 60, 0.5);
  border: 1px solid rgb(220, 20, 60, 0.5);
}

button.btn-delete:hover {
  box-shadow: 0px 6px 12px rgb(220, 20, 60);
  background-color: rgb(220, 20, 60, 1);
  border: 1px solid rgb(220, 20, 60, 1);
}

input.error {
  background-color: crimson;
  color: #e1e1e1;
}

p.info {
  line-height: 0.5em;
  letter-spacing: 0.0825em;
  font-weight: 400;
  font-size: 0.9em;
}
